# Virtual environment
venv/
env/

# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log
*.out
*.err

# IDE & Editor Files
.vscode/
.idea/
*.code-workspace
.ipynb_checkpoints/

# Dependency Files
Pipfile
Pipfile.lock

# System-Specific Files
.DS_Store
Thumbs.db

# Docker & Deployment
.dockerignore
docker-compose.yml
*.env
.env
config.json
secrets.json